@model IEnumerable<sbelt.Models.Matricula>

@{
    ViewData["Title"] = "Index";
}

<h1>Meus Eventos</h1>

<p>
    <a asp-action="Create">Entrar em um Evento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Mátricula
            </th>
            <th>
                Evento
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventAcademic.Nome)
                </td>
                <td>
           
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                 
                </td>
            </tr>
        }
    </tbody>
</table>
